on boot
    chown system system /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/disp_param
    chmod 0660 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/disp_param
    
    chown system system /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/hbm_status
    chmod 0660 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/hbm_status
    
    
#    chown system system /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/backlight/panel0-backlight/brightness
#    chown system system /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/backlight/panel0-backlight/max_brightness
    
    chown system system /sys/class/graphics/fb0/aco
    chmod 0660 /sys/class/graphics/fb0/aco
    chown system system /sys/class/graphics/fb0/cabc
    chmod 0660 /sys/class/graphics/fb0/cabc
    chown system system /sys/class/graphics/fb0/hbm
    chmod 0660 /sys/class/graphics/fb0/hbm
    chown system system /sys/class/graphics/fb0/rgb
    chmod 0660 /sys/class/graphics/fb0/rgb
    chown system system /sys/class/graphics/fb0/sre
    chmod 0660 /sys/class/graphics/fb0/sre
    chown system system /sys/class/graphics/fb0/color_enhance
    chmod 0660 /sys/class/graphics/fb0/color_enhance
    
    chown system system /sys/class/graphics/fb0/reading_mode
    chmod 0660 /sys/class/graphics/fb0/reading_mode

service vendor.livedisplay-hal-2-0 /vendor/bin/hw/vendor.lineage.livedisplay@2.0-service.xiaomi
    class late_start
    user system
    group system graphics
